*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.title{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    
    
}
.title h1{
    color: aquamarine;
    font-size: 80px;
    
}
.font{
    position: absolute;
    background: lightskyblue;
    padding: 35%;

    
    
    
}
.gathered{
    position: absolute;
    font-size: medium;
    padding:45%;
    
}
.career{
    position: absolute;
    font-size: medium;
    padding: 55%;
}
